@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #7854f7;
  --dark-color: #181131;
  --accent-color: #d57d00;
  --light-color: #f7f7f7;
  --secondary-color: #515151;

  --border-raduis-tiny: 0.12rem;
  --border-raduis-xs: 0.25rem;
  --border-raduis-sm: 0.5rem;
  --border-raduis-md: 1rem;
  --border-raduis-lg: 1.5rem;
  --border-raduis-xl: 2rem;
  --border-raduis-2xl: 2.5rem;
  --border-raduis-3xl: 3rem;

  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
}

/* px , rem , em, pt, percent */
html {
  font-size: 62.5%;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #f2f8f2 75%);
}

button,
span,
input[type="text"]::placeholder {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn__primary:hover {
  background: transparent;
  color: var(--dark-color);
  box-shadow: inset 0 0 0 0.2rem var(--primary-color);
  -webkit-box-shadow: inset 0 0 0 0.2rem var(--primary-color);
  -ms-box-shadow: inset 0 0 0 0.2rem var(--primary-color);
  -o-box-shadow: inset 0 0 0 0.2rem var(--primary-color);
}
