#our-process {
  min-height: 20vh;
}

.process__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.process__item h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.process__item p {
  font-size: 1.8rem;
  opacity: 0.9;
  color: var(--secondary-color);
}

.process__item--box {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.process__item--box i {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: var(--light-color);
}

.process__item--box h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}

.process__item--box p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

i.box--daily {
  background-color: #f39c12;
}

i.box--shield {
  background-color: #2980b9;
}

i.box--testing {
  background-color: #e74c3c;
}

.process__active {
  transition: all 0.3s ease-in-out;
  box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
  -webkit-box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
}

.process__active:hover {
  transform: translateY(-2rem);
}
